@import url('https://fonts.googleapis.com/css?family=Montserrat');

.flex-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.flex-column{
    display: flex;
    flex-direction: column;
}
.contact-parent{
    width: 76%;
    min-height: 100vh;
    margin-left: auto;
    font-family: Montserrat;
    display: flex;
    align-items: center;
    background-image: url("../../../beta/home/src/img/dashboard\ bg-01.jpg");
    background-attachment: fixed;
    background-size: cover;
    color: white;
}
.incontact{
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.incontact_one{
    width:30%;
    padding: 10px;
}
.incontact_two{
    width:30%;
    padding: 10px;
}
.incontact_three{
    width: 30%;
    padding: 10px;
}
.image_one{
    background-image: url("../../../beta//home/src/img/harshit.jpg");
    box-shadow: 2px 2px 7px 2px rgba(55,55,55,.5);
    background-position: center center;
    height:300px;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 2px;
    opacity: 0.8;
    transition: all 0.5s;
}
.image_two{
    background-image: url("../../../beta//home/src/img/niranjan.jpg");
    box-shadow: 2px 2px 7px 2px rgba(55,55,55,.5);
    height:300px;
    width: auto;
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 2px;
    opacity: 0.8;
    transition: all 0.5s;
}
.image_one:hover {
    opacity: 1;
}
.image_two:hover {
    opacity: 1;
}
.image_three:hover {
    opacity: 1;
}
.image_three{
    background-image: url("../../../beta//home/src/img/nikhilsir.jpg");
    box-shadow: 2px 2px 7px 2px rgba(55,55,55,.5);
    height:300px;
    width: auto;
    display: flex;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 2px;
    opacity: 0.8;
    transition: all 0.5s;
}
.image_four{
    background-image: url("../../../beta//home/src/img/prashantsir.jpeg");
    box-shadow: 2px 2px 7px 2px rgba(55,55,55,.5);
    background-position: center center;
    height:300px;
    width: auto;
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 2px;
    opacity: 0.8;
    transition: all 0.5s;
}
.image_four:hover {
    opacity: 1;
}
.details_one{
    width: auto;
    box-shadow: 2px 2px 7px 2px rgba(55,55,55,1);
    display: flex;
    flex-direction: column;
}
.name{
    padding:10px 0 0 20px;
}
.name h2{
    font-size: 16px;
    font-weight: 600;
}
.post{
    margin-top: 10px;
    padding-left: 20px;
}
.post h2{
    font-size: 12px;
    font-weight: 600;
}
.gmail{
    margin-top: 10px;
    padding-left: 20px;
}
.gmail img{
    height: 18px;
    width: auto;
    padding: 5px 5px 0 5px;
}
.gmail span{
    font-size: 14px;
    font-family: Montserrat;
    padding-left:10px; 
}
.call{
    margin-top: 10px;
    padding-left: 20px;
}
.call img{
    height: 16px;
    width: auto;
    padding: 5px 5px 0 5px;
}
.call span{
    font-size: 14px;
    font-family: Montserrat;
    padding-left: 10px;
}
@media screen and (max-width:1096px){
    .contact-parent{
        display: flex;
        flex-direction: column;
    }
    .incontact{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .incontact_one{
        width:60%;
        padding: 10px;
    }
    .incontact_two{
        width:60%;
        padding: 10px;
    }
    .incontact_three{
        width: 60%;
        padding: 10px;
    }
}
@media screen and (max-width:769px){
    .contact-parent{
        width: calc(100% - 80px);
    }
    .incontact_one{
        width:90%;
        padding: 10px;
    }
    .incontact_two{
        width:90%;
        padding: 10px;
    }
    .incontact_three{
        width: 90%;
        padding: 10px;
    }
}
@media screen and (max-width:403px){
    .gmail span{
        font-size: 10px;
    }
}