@import url("https://fonts.googleapis.com/css?family=Montserrat");
.celebrityMain
{
    margin-top:24vh;
    vertical-align:center;
    display:flex;
    color:white;
    justify-content:center;
    align-items: center;
    font-family:Montserrat;
    font-size:15px;
}
.hoverEffect
{
    margin:15px;
    height:38vh;
    width:15vw;
    position:relative;
    font-family:Montserrat;
    border-radius:10px;
}
.celebrityMain > div >p
{
    position:absolute;
    bottom:-8vh;
    font-family:Montserrat;
    font-size:14px;
    text-align:center;
}
.farhan
{
    left:11%;
}
.nucleya
{
    left:20%;
}
.sunidhi
{
    left:6%;
}
.nucleya
{
    left:31%;
}
.celebImage
{
    position: absolute;
    left: 0%;
    top: 0%;
    width: 15vw;
    height:38vh;
    border-radius:10px;
    transition:0.2s;
}
.hoverEffect:hover  .celebImage
{
    filter:blur(1px);
}
.hoverEffect:hover  .middle
{
    opacity:1;
}
.middle
{
    opacity:0;
    position:absolute;
    top:32%;
    left:10%;
    transition:0.2s;
    text-align: center;
}
@media only screen and (max-width: 768px) {
    .celebrityMain
    {
        flex-direction:column;
        margin-top:10vh;
    }
    .celebrityMain > div
    {
        margin:18px;
        height:18vh;
        width:30vw;
        position:relative;
    }
    .celebrityMain > div >p
    {
        position:absolute;
        bottom:-5vh;
        font-size:8px;
        text-align:center;
    }
    .farhan
    {
        left:17%;
    }
    .nucleya
    {
        left:20%;
        bottom:-4vh;
    }
    .sunidhi
    {
        left:2%;
    }
    .box
    {
        width:25vw;
    }
    .celebImage
    {
        height:18vh;
        width:30vw;
    }
    .middle
    {
       font-size:8px;
       top:30%;
    }
}
@media (min-width: 1920px) and (max-width: 2560px)
{
    .celebrityMain
    {
        margin-top:26vh;
    }
    .celebrityMain > div >p
    {
        font-family:Montserrat;
        font-size:26px;
        text-align:center;
        bottom:-10vh
    }
    .sunidhi
    {
        left:0%;
        text-align:left;
        width:100%;
    }
    .farhan
    {
        left:8%;
    }
    .nucleya
    {
        left:27%;
    }
    .hoverEffect
    {
        margin:50px;
    }
    .middle
    {
        font-size:22px;
        opacity:0;
        position:absolute;
        top:30%;
        left:10%;
        transition:0.2s;
        text-align: center;
    }
}
