@import url("https://fonts.googleapis.com/css?family=Montserrat");
.celebrityMain 
{
    margin-top:0vh;
    vertical-align:center;
    display:flex;
    color:white;
    justify-content:center;
    align-items: center;
    font-family:Montserrat;
    font-size:15px;
}
.celebrityMain > div
{
    margin:15px; 
    height:38vh;
    width:16vw;
    background:rgba(255,255,255,0.3);
    position:relative;
    font-family:Montserrat;
}
.celebrityMain > div >p
{ 
    position:absolute;
    bottom:-10vh;
    font-family:Montserrat;
    font-size:15px;
    text-align:center;
}
.nucleya
{
    left:31%;
}
.celebImage
{
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    max-width: 20vw;
    height: auto;
    border-radius:10px;
}
@media only screen and (max-width: 768px) {
    .celebrityMain 
    {
        flex-direction:row;
        margin-top:10vh;
    }
    .celebrityMain > div
    {
        margin:15px; 
        height:9vh;
        width:9vw;
        position:relative;
    }
    .celebrityMain > div >p
    { 
        position:absolute;
        bottom:-5vh;
        font-size:8px;
        text-align:center;
    }
    .farhan
    {
        left:17%; 
    }
    .nucleya
    {
        left:20%; 
        bottom:-4vh;
    }
    .sunidhi
    {
        left:2%; 
    }
    .box
    {
        width:25vw;
    
    }
}
@media (min-width: 1920px) and (max-width: 2560px)
{
    .celebrityMain
    {
        margin-top:10vh;
    } 
    .celebrityMain > div >p
    { 
        font-family:Montserrat;
        font-size:26px;
        text-align:center;
        bottom:-10vh
    }
    .sunidhi
    {
        left:6%;
        text-align:left;
        width:100%;
    }
    .farhan
    {
        left:13%; 

    }
}


