@import url("https://fonts.googleapis.com/css?family=Montserrat");
.aboveImage
{
    position:absolute;
    top: -4vh;
    left: 8%;
    width: 166px;
    opacity: 0.5;
}
.downImage
{
    position:absolute;
    bottom: -4vh;
    left: 8%;
    width: 166px;
    opacity: 0.5;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(180deg);
}
.footfall
{
    margin-top:20vh;
    vertical-align:center;
    display:flex;
    color:white;
    justify-content: center;
    align-items: center;
    font-family:Montserrat;
}
.box
{
    position:relative;
    padding:20px;
    color:white;
    background:rgba(255,255,255,0.1);
    margin:36px;
    font-size:24px;
    width: 155px;
    height: 89px;
    text-align:center;
    border-radius:10px;
}
.first
{
    font-size:40px;
}
.second
{
    font-size:15px;
}
@media only screen and (max-width: 768px) {
    .footfall
    {
        flex-direction:column;
        margin-top:2vh;
    }
    .box
    {
        margin:13px;
        height:70px;
    }
    .hide
    {
        display:none;
    }
    .aboveImage
    {
        top: -3vh;
        width:106px;
    }
    .downImage
    {
        width:106px;
        bottom:-3vh;
    }
}
@media (min-width: 1920px) and (max-width: 2560px)
{
    .box
    {
        padding:20px;
        margin:38px;
        font-size:40px;
        width: 316px;
        height: 153px;
        border-radius:10px;
    }
    .first
    {
        font-size: 71px;
        font-family:Montserrat;
    }
    .second
    {
        font-size:27px;
        font-family:Montserrat;

    }
    .aboveImage
    {
        width: 319px;
        top: -5vh;
        left: 6%;
    }
    .downImage
    {
        width:326px;
        bottom:-5.5vh;
        left:4%;
    }
    .footfall
    {
       margin-top:27vh;
    }
}

