.middlesection{
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    height: 100vh;

}
.imagelogo ,.downarrow{
    max-width: 100%;
    margin-top: 200px;
    padding-bottom:150px;
}
p{
    color: white;
    font-family: arial;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
@keyframes bounce {
    0%, 100%, 20%, 50%, 80% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    60% {
        transform: translateY(-10px);
    }
}
.downarrow
{
    position: absolute;
    left: 48%;
    top: 54vh;
    z-index: 10;
    animation: bounce 2s infinite;
}
@media only screen and (max-width: 768px){
    .mainlogo , .downarrow{
        max-width: 100%;
        margin-top: 200px;
        padding-bottom:135px;
    }
    .mainlogo
    {
        margin-top:2vh;
        width:100%;
        height:auto;
    }
    .downarrow
    {
        position: absolute;
        left: 48%;
        top: 43vh;
        z-index: 10;
        width: 30px;
        height: 4vh;
    }
}
@media (min-width: 1920px) and (max-width: 2560px)
{
    .mainlogo
    {
        width: 992px;
        height: 409px;
        margin-top: 270px;
        width: 992px;
        height: 390px;
        margin-top: 9vh;
    }
    .downarrow
    {
     height:41px;
     top:61vh;
    }
}
