#disqus_thread {
    color: #ffffff;
    border-style: 0px solid;
    border-color: #cccccc;
    padding: 5px;
}
#reactions__container{
    display: none;
}
#footer{
    display: none;
}
.disqus-footer__wrapper{
    display: none;
}
#rections,#reactions-promotion{
        display: none;
}
#dsq-content #dsq-comments .dsq-comment-body {
    color: #fff;
    background-color: #000000;
}
    
.dsq-reaction-body {
    color: #fff;
}
    
.dsq-reaction-header cite, .dsq-reaction-header span {
    color: #ccc;
}
    
.dsq-reaction-retweets {
    color: #ccc;
}