


.main{
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
}

.main2{
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
}
.innermain1{
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
}
.innermain2{
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
}
.Heading{

  font-size: 30px;
  font-weight:bold;
  padding-bottom: 7%;
  text-align: center;
  font-family: Montserrat

}
.contactMain{
  display: flex;
  flex-direction: row;
  justify-content:flex-start;

}
.contactus{
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  font-size: 14px;
  color: black;
  font-family: Montserrat;
  width: 80%;
}
.address{
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  font-size: 14px;
  color: black;
  font-family: Montserrat;
  margin-left: 10%
}
.MAINDIV{
  /*
    background: url('CA portal website-04.jpg');

    height: 100vh;
    width: auto;

    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    justify-content:flex-start;

*/
    padding-left: 15%;
    margin-top: 15%;
    position: relative;

    margin-right: 15.7%;
}
@media screen and (max-width:768px){
  .heading{
    font-size: 6px;
  }
}
