.zonals-parallax-layer1 , .zonals-parallax-layer2 ,.zonals-parallax-layer3, .zonals-parallax-layer4 , .zonals-parallax-layer5
{
   height:96vh;
   width:96vw;
}
.zonals-parallax-layer1-main-child
{
   display:flex;
   justify-content:space-between;
}
.zonals-parallax-layer1-main-child ,.zonals-parallax-layer2-main-child,.zonals-parallax-layer3-main-child ,.zonals-parallax-layer4-main-child ,.zonals-parallax-layer5-main-child
{

    height:96vh;
    width:96vw;
}
.zonals-delhi-iitrlogo
{
    height:auto;
    width:100%;
    max-width:7vw;
}
.zonals-parallax-layer2-main-child
{
   display:flex;
   justify-content:center;
   align-items:center;
}
.zonals-india-gate
{
    height:auto;
    width:100%;
    max-width:28vw;
}
.parallax-layer1-child
{
   position:absolute;
   left:50%;
   top:50%;
}
.parallax-layer3-child
{
   position:absolute;
   left:54%;
   top:28%;
}
.parallax-layer4-child
{
   position:absolute;
   left:26%;
   top:29%;
}
.parallax-layer5-child
{
   position:absolute;
   left:39%;
   top:6%;
}
.zonals-scene
{
   height:100vh;
   background-color:rgba(57, 125, 162, 0.9) ;
   background-image:url('../img/backgroundEle.png');
   background-size:100% 55%;
   background-opacity:0.12;
   background-position:center center;
   background-attachment:fixed;
   background-repeat:no-repeat;
   position:relative;
}
.zonals-delhi-logo
{
    max-width: 29%;
    height: auto;
    width: 9%;
}
.zonals-layer2-h1
{
   text-align:center;
   color:white;
}
@media only screen and (max-width:768px)
{
    .zonals-india-gate
    {
        max-width:54vw;
    }
    .zonals-delhi-logo
    {
        width:30%;
    }
    .zonals-delhi-iitrlogo
    {
       max-width:60vw;
    }
    .zonals-layer2-h1
    {
        font-size:24px;
    }
    .zonals-scene
    {
        background-size:100% auto;
    }
    .zonals-cloud-one , .zonals-cloud-two, .zonals-cloud-three
    {
        height:34px;
        width:auto;
    }
}
