.zonals-india-gate
{
    height:auto;
    width:100%;
    max-width:28vw;
}
.zonals-cloud-one
{
   position:absolute; 
   left:29vw;
   top:30vh;
   z-index:-1;
}
.zonals-cloud-two
{
   position:absolute; 
   left:37vw;
   top:5vh;
}
.zonals-cloud-three
{
   position:absolute; 
   left:57vw;
   top:21vh;
}
.zonals-scene
{
   display:flex;
   flex-direction:column;
   justify-content:center;
   align-items:center;
   height:100vh;
   background-color:rgba(57, 125, 162, 0.9) ;
   background-image:url('../img/backgroundEle.png');
   background-size:100% 55%;
   background-opacity:0.12;
   background-position:center center;
   background-attachment:fixed;
   background-repeat:no-repeat;
   position:relative;
}
.zonals-zones
{
  text-align:center;
  color:white;  
}
.zonals-delhi-logo
{
   width:13vw;
   height:14vh;
}
@media only screen and (max-width:768px)
{
 .zonals-india-gate
{
    max-width:83vw;
}
}
