.zonals-footer-main-div
{
   display:flex;
   justify-content:space-between;
   background-color:#4b4c4d;
   color:white;
   position:fixed;
   bottom:0px;
   width:100%;
   padding:10px;
}
.zonals-footer-text-p
{
}
.zonals-footer-follow
{
  display:flex;
  flex-direction:column; 
  width:60%;
  align-items:center;
}
.zonals-footer-iconsImage
{
    width:40px;
    height:40px;
}
.zonals-footer-mainIcons
{
    margin-top:4px;
    display:inline-flex;
    width:fit-content;
}
.zonals-footer-contact
{
   width:20%;
}
.zonals-footer-address
{
   width:16%;
}
.zonals-footer-fbdiv, .zonals-footer-ytdiv , .zonals-footer-instadiv , .zonals-footer-linkediv
{
    width:40px;
    height:40px;
    margin-left:10px;
    border-radius:50%;
    transition: 0.5s;
}
.common-cursor{
  cursor : default;
}
@media screen and (min-width: 768px)
{
    .zonals-footer-fbdiv:hover,.zonals-footer-ytdiv:hover,.zonals-footer-instadiv:hover,.zonals-footer-linkediv:hover
    {
        -ms-transform: rotate(360deg); /* IE 9 */
        -webkit-transform: rotate(360deg); /* Safari 3-8 */
        transform: rotate(360deg);
    }
    .zonals-footer-fbdiv:hover
    {
        background:#3b5998;
    }
    .zonals-footer-ytdiv:hover
    {
        background:#ff0000;
    }
    .zonals-footer-instadiv:hover
    {
        background:#c32aa3;
    }
    .zonals-footer-linkediv:hover
    {
        background:#007bb5;
    }
    .common-cursor{
      cursor : default;
    }
}
@media only screen and (max-width: 768px) {
   .zonals-footer-iconsImage
    {
        width:32px;
        height:32px;
    }
    .zonals-footer-mainIcons
    {
        margin-top:2px;
        display:inline-flex;
    }
    .zonals-footer-fbdiv:hover
    {
        background:blue;
    }
    .zonals-footer-ytdiv:hover
    {
        background:red;
    }
    .zonals-footer-instadiv:hover
    {
        background:pink;
    }
    .zonals-footer-linkedin:hover
    {
        background:lightblue;
    }
    .zonals-footer-fbdiv, .zonals-footer-ytdiv , .zonals-footer-instadiv , .zonals-footer-linkediv
    {
        width:32px;
        height:32px;
        margin-left:2px;
        border-radius:50%;
    }
    .common-cursor{
      cursor : default;
    }
}
@media (min-width: 1920px) and (max-width: 2560px)
{
    .zonals-footer-iconsImage
    {
        width:50px;
        height:50px;
    }
    .zonals-footer-fbdiv, .zonals-footer-ytdiv , .zonals-footer-instadiv , .zonals-footer-linkediv
    {
        width:50px;
        height:50px;
        margin-left:15px;
        borderradius:50%;
    }
    .zonals-footer-mainIcons
    {
       margin-top:6px;
    }
    .common-cursor{
      cursor : default;
    }

}
