.zonal-common-comp2-head
{ 
  background:#164851;
  padding:20px;
  width:12vw;
  height:12vh; 
  border-radius:12px;
  box-shadow:0px 1px 3px 3px #164851;
  color:white;
}
.zonals-comp2-inside
{
  display:flex;
  justify-content:center;
  margin-top:auto;
  height:100%;
  align-items:center;
}
.zonals-comp-border
{
   border:2px solid white;
}
@media only screen and (max-width:768px)
{
   .zonal-common-comp2-head
   {
      width:5vw;
      height:5vh;
   }
   .zonals-comp2-inside
   {
     font-size:14px;
     text-align:center;
   } 
}
