.zonals-common-comp1
{
    display:flex;
    flex-direction:column;
    background:#24989a;
    color:white;
    width:80%;
    align-items:center; 
    height:60vh;
    margin:auto;
    justify-content:space-around;
    border-radius:20px;
    box-shadow:4px 4px 4px 4px #24989a;
}
