.faqindexcontainer{
    width:100%;
    height:auto;
    margin:0;
    box-sizing: border-box;
}  

.faqindexcontainerh1 {
    font-size: 2.25em;
    margin-top:26vh;
}

.faqcontentdl dt {
    font-size: 1.25em;
    line-height: 1.5em;
    letter-spacing: -.015em;
    color: #444;
    margin: 0 0 0.75em 0;
    font-weight: 700;
}

.faqcontentdl dd {
    margin: 0 0 2em 0;
}
.faqcontentdl a{
    text-decoration: none;
    color:#444;
}
.faqnavbarstyle{
    background: black;
    position:fixed;
    top:0;
    left:0;
    height:20vh;
    width:100%;
}

.faqcontent-main-div
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
