@import url("https://fonts.googleapis.com/css?family=Montserrat");
.mainIndex
{
   background-image:url("../img/background.png");
   height:100vh;
   width: 100%;
   background-size:cover;
   display: flex;
   height: 100vh;
   font-family: Montserrat;
   color: white;
   position:relative;
   display:flex;
}
.buttonca
{
   height:10vh;
   width:10vw;
   position:absolute;
   top:70%;
   left:40%;
   font-family:Montserrat;
}
@media only screen (max-width:768px)
{ 
  .mainIndex
  { 
   flex-direction:column;
   }
}
