@import url("https://fonts.googleapis.com/css?family=Montserrat");
.register-heading{
    display: flex;
    padding: 10px 40px 0px 30px;
}
.register-heading > .register-ca >h1
{
    color:white;
    font-family:Montserrat;
}
.register-ca{
    padding-left: 20px;
}
.vertical_line{
    height: 35px;
    margin-top: 35px;
    background-color: white;
    width: 1px;
}
.r-logo{
    padding: 10px;
}
.r-logo img{
    width: auto;
    height: 75px;
    cursor: pointer;
}
