.main-form-first-child{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
    margin-top: 15px;
}
.main-form-first-grandchild{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.main-form-first-grandchild:nth-child(2){
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 15px;
    width: 100%;
}
.main-form-second-grandchild{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 10px;
    width: 100%;
}
.form-password{
    display: flex;
    flex-direction: column;
    width: 45%;
}
.form-password label{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-weight: 600;
    font-size: 12px;
    margin-bottom: 9px;
}
.form-password input{
    font-size: 14px;
    outline: 0;
    border-width: 0 0 2px;
    border-color: #BEBEBE ;
    font-family: Montserrat;
    background: none;
    color: white;
    padding: 5px;
}
.form-password input::placeholder{
     color: white;
     text-align: center;
}
.form-password input:focus::-webkit-input-placeholder { color:transparent; }
.form-confirmpassword{
    display: flex;
    flex-direction: column;
    width: 45%;
}
.form-confirmpassword label{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-weight: 600;
    font-size: 12px;
    margin-bottom: 9px;
}
.form-confirmpassword input{
    font-size: 14px;
    outline: 0;
    border-width: 0 0 2px;
    border-color: #BEBEBE ;
    font-family: Montserrat;
    background: none;
    color: white;
    padding: 5px;
}
.form-confirmpassword input::placeholder{
     color: white;
     text-align: center;
}
.form-confirmpassword input:focus::-webkit-input-placeholder { color:transparent; }
.form-referral{
    display: flex;
    flex-direction: column;
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    margin-top:15px;
}
.form-referral label{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-weight: 600;
    font-size: 12px;
    margin-bottom: 9px;
}
.form-referral input{
    font-size: 14px;
    outline: 0;
    border-width: 0 0 2px;
    border-color: #BEBEBE ;
    font-family: Montserrat;
    background: none;
    color: white;
    padding: 5px;
}
.form-referral input::placeholder{
     color: white;
     text-align: center;
}
.form-referral input:focus::-webkit-input-placeholder { color:transparent; }
.form-add-child label{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-weight: 600;
    font-size: 12px;
    margin-bottom: 9px;
}
.main-register{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;
    width: 100%;
}
.main-register button{
    cursor: pointer;
    padding: 15px;
    background: none;
    font-family: Montserrat;
    font-weight: 600;
    color: white;
    border: 0px;
    background: rgba(255,255,255,0.4);
    border-radius: 5px;
}
.form-primary_events{
    display: flex;
    flex-direction: column;
    width: 45%;
}
.form-primary_events label{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-weight: 600;
    font-size: 12px;
    margin-bottom: 9px;
}