.quizardy-parent{
    height: 100vh;
    overflow-y: hidden;

}

.quizardy-navbar{
  background-color: rgba(84, 86, 91, 0.5);
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 100px;
}

.quizardy-parent-body{
    background-image: linear-gradient(to left bottom, #595b5e, #767e81, #95a3a2, #bac9c0, #e9eedd);

    height: 100vh;
    position: relative;
    align-items: center;
    font-family:  Montserrat;
    overflow-y: hidden;

}
.quizardy-parent-innerbody{
    position: absolute;
    height: 80vh;
    top: 15vh;
    left: 10%;
    line-height: 1.8;
    right: 10%;
}
@media only screen and (min-width:768px)
{
.quizardy-child{
    background: url('./gotweb.jpg');
    background-size: 100% 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
}
}
.quizardy-button{
    margin-top:70vh;
}
.quizardy-flexcenter {
    float: right;
    width: 50%;
    text-align: center;
}
.quizardy-opening-button {
    cursor: pointer;
    width: fit-content;
    padding: 15px;
    background: none;
    font-family: Montserrat;
    font-weight: 600;
    color: black;
    border: 2px solid black;
    background: rgba(255,255,255,0.6);
    border-radius: 5px;
}
@keyframes bounce {
    0%, 100%, 20%, 50%, 80% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    60% {
        transform: translateY(-10px);
    }
}
.quizardy-opening-downarrow
{
    margin-top: 50px;
    z-index: 10;
    animation: bounce 2s infinite;
}
@media (max-width: 768px){
  .quizardy-parent {
    height: 100vh;
    overflow-y: hidden;
    background-color: #552458;
    background: url('./gotphone.jpg');
    background-size:100% 100%;
    background-repeat: no-repeat;
    background-color: #552458;
    background-position:center;
  }
  .quizardy-navbar{
    height: 80px;
  }

  .quizardy-parent-innerbody{
    position: absolute;
    height: 100vh;
    width: 80%;
    top: 13vh;
    left: 10%;
    line-height: 1.8;
    right: 10%;
    }
  .quizardy-button {
    margin-top: 90vh;
    }
  .quizardy-flexcenter{
    width: 100%;
    text-align: center;
    }
}
