.sponsors-parent{
    background-image:url("../home/src/img/background.jpeg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 100vh;
    widows: 100vw;
    position: relative;
}
.sponsors-child{
    background: white;
    width: 75%;
    margin:0px auto;
    overflow: auto;
    height: 80vh;
    position: absolute;
    top: 15%;
    left: 12.5%;
}
.sponors-image-parent img{
    height: 80px;
    width: auto;
}
.sponsors-title{
    font-weight: 500;
    font-family: Ubuntu;
    font-size: 28px;
    line-height: 1.2em;
    text-align: left;
    padding: 15px;
}
.sponsors-image{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 30px;
}
.sponsors-child::-webkit-scrollbar {
    width: 0.5em;
  }
  
  .sponsors-child::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  }
  
  .sponsors-child::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
  }
  .sponsors-child-parent{
      border-bottom:2px solid #d2d2d2; 
      margin-top: 10px;
  }