@import url("https://fonts.googleapis.com/css?family=Montserrat");

@media screen and (min-width:1400px){
    .sidenav {
        height: 100%;
        width: 24.13%;
        position: fixed;
        z-index: 301;
        top: 0;
        left: 0;
        background-color: #FFFFFF;
        border-right: 1px solid rgba(174, 174, 174, 0.5);
        box-shadow: 8px 0 3px -6px rgba(174, 174, 174, 0.5);
        overflow-x: hidden;
        transition: 0.5s;
        padding:20px 2% 0 2%;
        display: flex;
        flex-direction: column;
        min-width: 200px;
        font-family: Montserrat;
        color: #58595B;
    }
    .sidenav.collapseSide{
        width: 100px;
        min-width: 100px;
    }
    .sidenav.collapseSide .sideNavItem {
        font-size: 0;
        padding-left: 36px;
    }
    .sidenav.collapseSide .sideNavItem > i{
        visibility: visible;
        font-size: 24px;
    }
    .sidenav.collapseSide > .sidebar-user > .text{
        font-size: 12px;
    }
    .sidenav .sideNavItem {
        padding: 5px 8px 5px 0px;
        text-decoration: none;
        font-size: 1vw;
        font-weight: 600;
        color: #46698b;
        display: block;
        border-right: 3px solid #ffffff;
        cursor: pointer;
    }
    .sidenav > .activeSideItem, .sidenav .sideNavItem:hover , .sidenav .sideNavItem:active, .sidenav .sideNavItem:focus{
        background-color:#F1F2F1;
        text-decoration: none;
        text-transform: none;
    }
    .p-logo svg{
        padding: 0 0 0 5px;
    }
    .sidenav .sideNavItem:hover .p-logo svg .bulbpath{
        fill: yellow;
    }
    .sidenav .sideNavItem:hover .p-logo svg .leaderpath{
        fill:green;
    }
    .sidenav .sideNavItem:hover .p-logo svg .guidepath{
        fill:purple;
    }
    .sidenav .sideNavItem:hover .p-logo svg .certificatepath{
        fill:orange;
    }
    .sidenav .sideNavItem:hover .p-logo svg .contactpath{
        fill:blue;
    }
    .sidenav .sideNavItem:hover .p-logo svg .logoutpath{
        fill:red;
    }
    .sidenav .sideNavItem:hover .p-logo svg .postpath{
        fill:red;
    }
    .referral:hover .p-logo svg .referralpath{
        cursor: pointer;
        fill: red;
    }
    .thomso{
        padding: 10px 0px;
    }
    .hand{
        margin-top: 80px;
        cursor: pointer;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        height: 100%;
    }
    .hand div{
        display: flex;
        flex-direction: row;
    }

    .hand:hover .p-logo svg .handpath{
        cursor: pointer;
        fill: yellow;
    }
    .sidebar-user {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 15px 0 15px 0;
        height: fit-content;
    }
    .sidebar-user > .image {
        height: 40px;
        width: auto;
        border-radius: 50%;
        padding: 0 5px 0 5px;
    }
    .sidebar-user > .details{
        display: flex;
        flex-direction: column;
        font-family: Montserrat;
        transition: all 0.2s;
    }
    .sidebar-user > .details > .text {
        font-weight: bold;
        padding: 0 5px 0 5px;
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 1px;
    }
    .sidebar-user > .details > .cname{
        padding: 0 5px 0 5px;
        font-size: 10px;
        font-weight: 600;
    }
    
    .line{
        height:1px;
        background-color:#BEBEBE;
        margin: 10px 0 10px 0;
    }
    .flex_row{
        display: flex;
        flex-direction: row;
    }
    .p-logo{
        width: 15%;
    }
    .p-logo img{
        height: 18px;
        width: auto;
        transition: all 0.5s;
        padding: 0 5px;
    }
    .p-name{
        width: 85%;
        font-size: 10px;
        letter-spacing: 2px;
        padding: 0 5px;
    }
    .days{
        width: 85%;
        font-size: 14px;
        letter-spacing: 2px;
        padding: 5px;
        font-weight: 600;
        height: 100%;
    }
    .inhand{
        width: 100%;
    }
    .re{
        margin-top: 20px;
    }

    .sidebar-user > .likeshare{
        display: flex;
        flex-direction: column;
    }
    .inls{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 10px 0 10px 0;
    }
    .inn_likes{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 2px;
    }
    .plikes{
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 2px;
        padding: 5px 0;
    }
    .change{
        padding-left: 8px;
    }
    .n_score > .inn_likes > img{
        padding-right: 8px;
    }
    .n_shares > .inn_likes > img{
        padding-right: 8px;
    }
    .inn_likes img{
        height: 14px;
        width: auto;
        padding-top: 1px;
    }
    .sidenav .sideNavItem {
        font-size: 1vw;
        min-font-size: 12px;
    }

    .sidenav.collapseSide{
        width: 70px;
        min-width: 70px;
    }
    .sidenav.collapseSide .sideNavItem {
        font-size: 0;
        padding-left: 23px;
    }
    .sidenav.collapseSide .sideNavItem > i{
        visibility: visible;
        font-size: 18px;
    }
    .update{
        font-size: 10px;
        color: #58595B;
    }
    .n-likes > .inn_likes div{
        padding: 0 5px;
    }
}


@media screen and (max-width: 1400px){
    .sidenav {
        height: 100%;
        width: 24.13%;
        position: fixed;
        z-index: 301;
        top: 0;
        left: 0;
        background-color: #FFFFFF;
        border-right: 1px solid rgba(174, 174, 174, 0.5);
        box-shadow: 8px 0 3px -6px rgba(174, 174, 174, 0.5);
        overflow-x: hidden;
        transition: 0.5s;
        padding:20px 2% 0 2%;
        display: flex;
        flex-direction: column;
        min-width: 200px;
        font-family: Montserrat;
        color: #58595B;
    }
    .sidenav.collapseSide{
        width: 100px;
        min-width: 100px;
    }
    .sidenav.collapseSide .sideNavItem {
        font-size: 0;
        padding-left: 36px;
    }
    .sidenav.collapseSide .sideNavItem > i{
        visibility: visible;
        font-size: 24px;
    }
    .sidenav.collapseSide > .sidebar-user > .text{
        font-size: 12px;
    }
    .sidenav .sideNavItem {
        padding: 5px 8px 5px 0px;
        text-decoration: none;
        font-size: 1vw;
        font-weight: 600;
        color: #46698b;
        display: block;
        border-right: 3px solid #ffffff;
        cursor: pointer;
    }
    .sidenav > .activeSideItem, .sidenav .sideNavItem:hover , .sidenav .sideNavItem:active, .sidenav .sideNavItem:focus{
        background-color:#F1F2F1;
        text-decoration: none;
        text-transform: none;
    }
    .p-logo svg{
        padding: 0 0 0 5px;
    }
    .sidenav .sideNavItem:hover .p-logo svg .bulbpath{
        fill: yellow;
    }
    .sidenav .sideNavItem:hover .p-logo svg .leaderpath{
        fill:green;
    }
    .sidenav .sideNavItem:hover .p-logo svg .guidepath{
        fill:purple;
    }
    .sidenav .sideNavItem:hover .p-logo svg .certificatepath{
        fill:orange;
    }
    .sidenav .sideNavItem:hover .p-logo svg .contactpath{
        fill:blue;
    }
    .sidenav .sideNavItem:hover .p-logo svg .logoutpath{
        fill:red;
    }
    .sidenav .sideNavItem:hover .p-logo svg .postpath{
        fill:red;
    }
    .referral:hover .p-logo svg .referralpath{
        cursor: pointer;
        fill: red;
    }
    .thomso{
        padding: 10px 0px;
    }
    .hand{
        margin-top: 80px;
        cursor: pointer;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        height: 100%;
    }
    .hand div{
        display: flex;
        flex-direction: row;
    }

    .hand:hover .p-logo svg .handpath{
        cursor: pointer;
        fill: yellow;
    }
    .sidebar-user {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 15px 0 15px 0;
        height: fit-content;
    }
    .sidebar-user > .image {
        height: 40px;
        width: auto;
        border-radius: 50%;
        padding: 0 5px 0 5px;
    }
    .sidebar-user > .details{
        display: flex;
        flex-direction: column;
        font-family: Montserrat;
        transition: all 0.2s;
    }
    .sidebar-user > .details > .text {
        font-weight: bold;
        padding: 0 5px 0 5px;
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 1px;
    }
    .sidebar-user > .details > .cname{
        padding: 0 5px 0 5px;
        font-size: 10px;
        font-weight: 600;
    }
    
    .line{
        height:1px;
        background-color:#BEBEBE;
        margin: 10px 0 10px 0;
    }
    .flex_row{
        display: flex;
        flex-direction: row;
    }
    .p-logo{
        width: 15%;
    }
    .p-logo img{
        height: 18px;
        width: auto;
        transition: all 0.5s;
        padding: 0 5px;
    }
    .p-name{
        width: 85%;
        font-size: 10px;
        letter-spacing: 2px;
        padding: 0 5px;
    }
    .days{
        width: 85%;
        font-size: 14px;
        letter-spacing: 2px;
        padding: 5px;
        font-weight: 600;
        height: 100%;
    }
    .inhand{
        width: 100%;
    }
    .re{
        margin-top: 20px;
    }

    .sidebar-user > .likeshare{
        display: flex;
        flex-direction: column;
    }
    .inls{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 10px 0 10px 0;
    }
    .inn_likes{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 2px;
    }
    .plikes{
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 2px;
        padding: 5px 0;
    }
    .change{
        padding-left: 8px;
    }
    .n_score > .inn_likes > img{
        padding-right: 8px;
    }
    .n_shares > .inn_likes > img{
        padding-right: 8px;
    }
    .inn_likes img{
        height: 14px;
        width: auto;
        margin-top:3px; 
    }
    .sidenav .sideNavItem {
        font-size: 1vw;
        min-font-size: 12px;
    }

    .sidenav.collapseSide{
        width: 70px;
        min-width: 70px;
    }
    .sidenav.collapseSide .sideNavItem {
        font-size: 0;
        padding-left: 23px;
    }
    .sidenav.collapseSide .sideNavItem > i{
        visibility: visible;
        font-size: 18px;
    }
    .update{
        font-size: 10px;
        color: #58595B;
    }
    .n-likes > .inn_likes div{
        padding: 0 5px;
    }
}

@media screen and (max-width: 768px) {
    .sidenav{
        width: 80px;
        min-width: 80px;
        padding: 20px 20px 20px 20px;
    }
    .sidenav .sideNavItem {
        font-size: 0;
        padding:5px 10px 5px 5px;
    }
    .sidenav .sideNavItem > i{
        visibility: visible;
        font-size: 16px;
    }
    .sidebar-user > .text{
        font-size: 0;
    }
    .sidebar-user > .image{
        padding:0px; 
    }
    .sidenav.collapseSide{
        width: 50px;
        min-width: 50px;
    }
    .sidenav.collapseSide .sideNavItem {
        font-size: 0;
        padding-left: 10px;
    }
    .sidenav.collapseSide .sideNavItem > i{
        visibility: visible;
        font-size: 14px;
    }
    .p-logo Bulb{
        height: 24px;
        width: auto;
    }
    .sidebar-user > .details{
        display: none;
    }
    .p-name{
        display: none;
    }
    .inls{
        display: flex;
        flex-direction: column;
    }
    .hand{
        display: flex;
        flex-direction: column;
        margin-top: 25px;
        transition: all 0.2s;
        height: 100%;
    }
    .line{
        height:1px;
        background-color:#BEBEBE;
        border: 50%;
    }
    .plikes{
        display: none;
        transition: all 0.2s;
    }
    .n_score > .inn_likes > img{
        padding-right: 0px;
    }
    .n_shares > .inn_likes > img{
        padding-right: 0px;
    }
    .change{
        padding-left:0px; 
    }
    .hand div{
        display: flex;
        flex-direction: column;
    }
    .hand .p-logo{
        display: block;
        text-align: center;
        width: 100%;
    }
    .days{
        display: block;
        text-align: center;
        font-size: 10px;
    }
    .re{
        margin-top: 0px;
    }
}
